SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_USER=schranka@example.com
SMTP_PASS=tajne-heslo-schranky


CONTACT_TO=schranka@example.com


CONTACT_FROM_NAME=Web atelierkarczech.cz

KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
